<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/<%= urun.imageUrl %>" alt="" class="img-fluid">
                            </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= urun.name %> </h5>
                                <p class="card-text">Fiyat: <%= urun.price %> tl  </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                       Blanditiis vero, sapiente illo unde facilis expedita laborum aspernatur
                                       optio autem consequuntur ex totam tempora
                                </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                     Voluptate magni aliquid ipsum praesentium, a numquam tenetur
                                     , cum doloremque exercitationem, nobis porro.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</body>
</html>